<link rel="stylesheet" href="css/index.css">

<!-- This is the sliding carouset section -->
<div class="slider-container">
    <div class="slider">
        <figure>
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
        </figure>
    </div>
    <div class="pagination">
        <button onclick="page_btn(0)" class="0 page-indicator page-indicator-active"></button>
        <button onclick="page_btn(1)" class="1 page-indicator"></button>
        <button onclick="page_btn(2)" class="2 page-indicator"></button>
        <button onclick="page_btn(3)" class="3 page-indicator"></button>
        <button onclick="page_btn(4)" class="4 page-indicator"></button>
    </div>
    <div class="slider-btn left-btn"><i class="fa-solid fa-arrow-left"></i></div>
    <div class="slider-btn right-btn"><i class="fa-solid fa-arrow-right"></i></div>
</div>


<!-- Categories Section -->
<div class="categories">
    <div class="card">
        <img src="images/categories/accessories.jpg" alt="">
        <div class="desc">
            <h3 class="title">اکسسوری</h3>
            <a href="/" class="card-btn">مشاهده</a>
        </div>
    </div>
    <div class="card">
        <img src="images/categories/clothing.jpeg" alt="">
        <div class="desc">
            <h3 class="title">پوشاک</h3>
            <a href="/" class="card-btn">مشاهده</a>
        </div>
    </div>
    <div class="card">
        <img src="images/categories/dakimakura.jpg" alt="">
        <div class="desc">
            <h3 class="title">داکیماکورا</h3>
            <a href="/" class="card-btn">مشاهده</a>
        </div>
    </div>
    <div class="card">
        <img src="images/categories/figures.jpeg" alt="">
        <div class="desc">
            <h3 class="title">فیگور</h3>
            <a href="/" class="card-btn">مشاهده</a>
        </div>
    </div>
    <div class="card">
        <img src="images/categories/learning.jpg" alt="">
        <div class="desc">
            <h3 class="title">یادگیری</h3>
            <a href="/" class="card-btn">مشاهده</a>
        </div>
    </div>
    <div class="card">
        <img src="images/categories/mangas.png" alt="">
        <div class="desc">
            <h3 class="title">مانگا</h3>
            <a href="/" class="card-btn">مشاهده</a>
        </div>
    </div>
</div>


<!-- This is the scrolling time limit sales section -->
<div class="manga-sales">
    <div class="card-container">
        <div class="details">
            <h3>پیشنهاد های داغ!</h3>
            <p> تخفیف های شگفت انگیز </p>
            <i class="fa-solid fa-percent"></i>
            <a href="/">مشاهده همه</a>
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="card">
            <img src="images/items/another.jpg" alt="">
            <h4 class="title">مانگا Another</h4>
            <span class="sale">۲۵%</span>
            <div class="price">تومان۴۵,۰۰۰</div>
        </div>
        <div class="card">
            <img src="images/items/aot.jpg" alt="">
            <h4 class="title">مانگا Attack on Titan</h4>
            <span class="sale">۲۵%</span>
            <div class="price">تومان۴۵,۰۰۰</div>
        </div>
        <div class="card">
            <img src="images/items/deathnote.jpg" alt="">
            <h4 class="title">مانگا Death Note</h4>
            <span class="sale">۲۵%</span>
            <div class="price">تومان۴۵,۰۰۰</div>
        </div>
        <div class="card">
            <img src="images/items/horimiya.jpg" alt="">
            <h4 class="title">مانگا Horimiya</h4>
            <span class="sale">۲۵%</span>
            <div class="price">تومان۴۵,۰۰۰</div>
        </div>
        <div class="card">
            <img src="images/items/kimetsu.jpg" alt="">
            <h4 class="title">مانگا Kimetsu no Yaiba</h4>
            <span class="sale">۲۵%</span>
            <div class="price">تومان۴۵,۰۰۰</div>
        </div>
        <div class="card">
            <img src="images/items/mha.jpg" alt="">
            <h4 class="title">مانگا My Hero Academia</h4>
            <span class="sale">۲۵%</span>
            <div class="price">تومان۴۵,۰۰۰</div>
        </div>
        <div class="card">
            <img src="images/items/tokyoghoul.jpg" alt="">
            <h4 class="title">مانگا Tokyo Ghoul</h4>
            <span class="sale">۲۵%</span>
            <div class="price">تومان۴۵,۰۰۰</div>
        </div>
    </div>
</div>