<link rel="stylesheet" href="css/index.css">
<div class="slider-container">
    <div class="slider">
        <figure>
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
            <img src="images/banner.jpg" alt="">
        </figure>
    </div>
    <div class="pagination">
        <button onclick="page_btn(0)" class="0 page-indicator page-indicator-active"></button>
        <button onclick="page_btn(1)" class="1 page-indicator"></button>
        <button onclick="page_btn(2)" class="2 page-indicator"></button>
        <button onclick="page_btn(3)" class="3 page-indicator"></button>
        <button onclick="page_btn(4)" class="4 page-indicator"></button>
    </div>
    <div class="slider-btn left-btn"><i class="fa-solid fa-arrow-left"></i></div>
    <div class="slider-btn right-btn"><i class="fa-solid fa-arrow-right"></i></div>
</div>